.dataList {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: auto;
}

li {
    margin-bottom: 10px;
    font-size: 30px;
    width: 500px;
}


li:nth-child(even) {
    background-color: rgb(183, 168, 149);
}

li:hover {
    background-color: chartreuse;
    font-weight: 600;
    font-size: 30px;
}

button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
}

button:hover {
    background-color: yellow;
}